program to display group by information - brand, total models under the company, average price and average rating.

In [ ]:
pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 kB 2.3 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [ ]:
import pymysql
from tabulate import tabulate

In [ ]:
con = pymysql.connect(host='bjdnzwywx4yuwlv2yvqn-mysql.services.clever-cloud.com', user='uryhne0taq31lhab', password='9ktaVYjniKvGj207ouvQ', database='bjdnzwywx4yuwlv2yvqn')
curs = con.cursor()

In [ ]:
curs.execute("select company, count(modelname), avg(price), avg(ratings) from mobiles group by company")
data = curs.fetchall()
fields = ['Company','Total Models', 'Average Price', 'Average Ratings']
print(tabulate(data, headers=fields))

Company      Total Models    Average Price    Average Ratings
---------  --------------  ---------------  -----------------
Samsung                 2            71849                4.5
Realme                  1             7999                4
Oppo                    1            12499                4
Infinix                 1             8999                4
Apple                   1            69999                5
Vivo                    1            25940                4

In [ ]:
con.close()