Take field as an input like rom and display all mobiles in the descending order of the that field.

In [ ]:
pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 kB 2.2 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [ ]:
import pymysql
from tabulate import tabulate

In [ ]:
con = pymysql.connect(host='bjdnzwywx4yuwlv2yvqn-mysql.services.clever-cloud.com', user='uryhne0taq31lhab', password='9ktaVYjniKvGj207ouvQ', database='bjdnzwywx4yuwlv2yvqn')
curs = con.cursor()

In [ ]:
rom = int(input("Enter ROM Size: "))
curs.execute("select * from mobiles where rom<=%d order by rom desc" %rom)
data = curs.fetchall()
fields = ['Product ID','Model Name', 'Company', 'Connectivity', 'RAM', 'ROM', 'Color', 'Screen', 'Battery', 'Processor', 'Price', 'Ratings', 'Purpose']
print(tabulate(data, headers=fields))

Enter ROM Size: 128
  Product ID  Model Name          Company    Connectivity      RAM    ROM  Color             Screen    Battery  Processor             Price    Ratings  Purpose
------------  ------------------  ---------  --------------  -----  -----  --------------  --------  ---------  ------------------  -------  ---------  ---------
        1001  SAMSUNG Galaxy F13  Samsung    4G                  4    128  Waterfall Blue         7       6000  Exynos 850            10699          4  Social
        1004  Infinix HOT 30i     Infinix    4G                  8    128  Galcier Blue           7       5000  G37                    8999          4  Gaming
        1005  APPLE iPhone 14     Apple      5G                  8    128  Purple                 6       6000  A15 Bionic Chip       69999          5  Social
        1007  vivo V25            Vivo       5G                  8    128  Elegant Black          6       4500  Octa Core             25940          4  Social
        1003  OPPO A17            Oppo       4G                  4     64  Lake Blue              7       5000  Mediatek Helio G35    12499          4  Social
        1002  realme C3           Realme     4G                  3     32  Frozen Blue            7       5000  Helio G70              7999          4  Social

In [ ]:
con.close()