Create a table "MOBILES" with prodid as primary key and other fields like modelname, company, connectivity(4G/5G), ram, rom, color, screen, battery, processor, price, rating (4.3 out of 5)

In [ ]:
pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 kB 3.7 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [ ]:
import pymysql

In [ ]:
con = pymysql.connect(host='bjdnzwywx4yuwlv2yvqn-mysql.services.clever-cloud.com', user='uryhne0taq31lhab', password='9ktaVYjniKvGj207ouvQ', database='bjdnzwywx4yuwlv2yvqn')
curs = con.cursor()

In [ ]:
try:
    curs.execute("create table mobiles(prodid int primary key, modelname varchar(100), company varchar(100), connectivity varchar(5), ram int, rom int, color varchar(50), screen float, battery int, processor varchar(100), price int, ratings float)")
except:
    print("Table already exist")

Table already exist

In [ ]:
con.close()