Program to accept modelname, search mobile in the table, show the mobile details if found else display "not found" message

In [ ]:
pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 kB 2.8 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [ ]:
import pymysql
from tabulate import tabulate

In [ ]:
con = pymysql.connect(host='bjdnzwywx4yuwlv2yvqn-mysql.services.clever-cloud.com', user='uryhne0taq31lhab', password='9ktaVYjniKvGj207ouvQ', database='bjdnzwywx4yuwlv2yvqn')
curs = con.cursor()

In [ ]:
modnm = input("Enter Model Name: ")
try:
    curs.execute("select * from mobiles where modelname='%s'" %modnm)
    data = curs.fetchone()
    print(data)
except:
    print("Mobile Data Not Found.")

Enter Model Name: realme C3
(1002, 'realme C3', 'Realme', '4G', 3, 32, 'Frozen Blue', 7.0, 5000, 'Helio G70', 7999, 4.0, 'Social')

In [ ]:
con.close()