Program to accept company like "samsung" and display list of mobiles of that category in the ascending order of price

In [ ]:
pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 kB 2.3 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [ ]:
import pymysql
from tabulate import tabulate

In [ ]:
con = pymysql.connect(host='bjdnzwywx4yuwlv2yvqn-mysql.services.clever-cloud.com', user='uryhne0taq31lhab', password='9ktaVYjniKvGj207ouvQ', database='bjdnzwywx4yuwlv2yvqn')
curs = con.cursor()

In [ ]:
company = input("Enter Company Name: ")
curs.execute("select * from mobiles where company='%s' order by price asc" %company)
data = curs.fetchall()
if data:
  fields = ['Product ID','Model Name', 'Company', 'Connectivity', 'RAM', 'ROM', 'Color', 'Screen', 'Battery', 'Processor', 'Price', 'Ratings', 'Purpose']
  print(tabulate(data, headers=fields))
else:
  print("No Mobiles are available  of such Company")

Enter Company Name: dkjvnj
No Mobiles are available  of such Company

In [ ]:
con.close()