Add new column "purpose varchar(50)" to the mobiles table using alter query

In [ ]:
pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 kB 2.6 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [ ]:
import pymysql

In [ ]:
con = pymysql.connect(host='bjdnzwywx4yuwlv2yvqn-mysql.services.clever-cloud.com', user='uryhne0taq31lhab', password='9ktaVYjniKvGj207ouvQ', database='bjdnzwywx4yuwlv2yvqn')
curs = con.cursor()

In [ ]:
column = input("Enter name of new Column: ")
datatype = input("Enter data type with size in (): ")
try:
    curs.execute("alter table mobiles add "+column+" "+datatype)
    con.commit()
    print("Column Added")
except:
    print("Column already exist")

Enter name of new Column: purpose
Enter data type with size in (): varchar(50)
Column already exist

In [ ]:
con.close()